{% extends '::backend.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('home') }}">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">
        Profil
    </li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span9 offset2">
    
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}

   </div>
</div>
{% endblock %}