{% extends '::backend.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('home') }}">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">
        Email Prüfung
    </li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span9 offset2">
    

    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>

   </div>
</div>
{% endblock %}